.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $white;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($black, 0.1);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        @include response(tab-port) {
            top: 4rem;
            right: 4rem;
        }

        @include response(phone) {
            top: 3rem;
            right: 3rem;
        }
    }

    &__background {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($light-green, $dark-green);
        z-index: 1000;
        transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);

        @include response(tab-port) {
            top: 4.5rem;
            right: 4.5rem;
        }

        @include response(phone) {
            top: 3.5rem;
            right: 3.5rem;
        }
    }

    &__nav {
        width: 0;
        height: 100vh;
        position: fixed;
        top: 0;

        // left: 0 to appear from left to right
        right: 0;

        z-index: 1500;
        opacity: 0;
        transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &__list {
        @include absCenter;
        width: 100%;
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            opacity: 0;
            visibility: hidden;
            display: inline-block;
            color: $white;
            padding: 1rem 2rem;
            font-size: 3rem;
            font-weight: 300;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $white 50%);

            // to visible transparent part
            background-size: 220%;

            transition: all 0.4s;

            span {
                display: inline-block;
                margin-right: 1.5rem;
            }
        }

        &:hover {
            color: $medium-green;
            transform: translateX(1rem);

            // same
            background-position: right;
            // background-position: 100%;
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        width: 100%;
        opacity: 1;
    }

    &__checkbox:checked ~ &__nav &__link {
        opacity: 1;
        visibility: inherit;
    }

    // hamburger icon
    &__icon {
        position: relative;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 3px;
            background-color: $grey-dark-3;
            display: inline-block;
            transition: all 0.2s;
        }

        &::before,
        &::after {
            position: absolute;
            content: '';
        }

        &::before {
            top: -0.8rem;
            left: 0;
        }

        &::after {
            top: 0.8rem;
            left: 0;
        }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        // transform: rotate(45deg);
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        // transform: rotate(-45deg);
        transform: rotate(-135deg);
    }
}
