.card {
    perspective: 150rem;
    --moz-perspective: 150rem;
    position: relative;
    height: 100px;

    &__side {
        height: 100px;
        transition: all 0.8s;
        color: white;
        font-size: 2rem;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($black, 0.15);

        &--front {
            background-color: rgb(243, 99, 99);
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $light-orange, $dark-orange);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}
